@media only screen and (min-width: 1200px) {
    .border {margin: 0 18%}

    .nav {display: flex}

    .ham-menu {display: none}

    #button-down {margin: 3% 39% 9%}

    .landing-page--in {max-width: 40%}

    #courses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cours {
        position: relative;
        float: left;
        width: 32%;
        border-radius: 5px;
        margin-bottom: 3%;
        text-align: center;
    }
    .cours:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    h3 {font-size: 1.3vw}

    .box-text {font-size: 16px;}
    .box-title {font-size: 1.1vw}
    
    .button-cours {font-size: 1.3vmax}

    .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    #foot {margin: 0 18%}
}