body {
    margin: 0;
    font-family: lato;
}

.border {margin: 0 1%}

nav {
    display: flex;
    align-items: baseline;
    padding-bottom: 2%;
}

.nav {
    display: none;
    float: left;
    padding: 5px;
    margin: 0% 10px 2%;
    color: #404B55;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.ham-menu i {
    color: black;
    font-size: 25px;
}

#logo {
    float: left;
    font-size: 20px;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1%;
    min-height: 28px;
    height: 5vh;
}

.button {
    float: left;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #4b7c67;
    background-color: #55b68b;
    color: white;
    text-decoration: none;
}

#button-nav {    
    margin-left: 0;
    box-shadow: none;
    text-align: center;
}

#button-down {
    float: none;
    display: block;
    height: auto;
    margin:  3% 20% 9%;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

#button-watch {
    display: flex;
    align-items: baseline;
}

#button-watch a {
    font-size: 20px;
    text-decoration: none;
}

#button-margin {margin-right: 3%}

.landing-page {
    height: 95vh;
    background-image: url("https://via.placeholder.com/1600x1067");
    background-position: center;
}

.landing-page--in {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landing-page--in h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 56px; 
    text-align: left;
}

.landing-page--in p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 3%;
}

#before-courses {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

#before-courses > h2 {
    font-size: 42px; 
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    margin-top: 5%;
    color: #404B55;
    opacity: 0.8;
}

h3 {
    font-size:19px;
    font-weight: 900;
}

#courses-under {text-align: center}

#before-courses > p {
    margin-bottom: 3%;
    color: #404B55;
    opacity: 0.8; 
    font-size: 22px; 
    line-height: 26px;
    font-weight: 400
}

.cours {
    float: left;
    width: 100%;
    padding: 2% 1.5% 5%;
    border-radius: 5px;
    margin-bottom: 3%;
    text-align: center;
}

#courses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gray-back {background-color: #525e6c}
.blue-back {background-color: #439fe0}
.green-back {background-color: #55b68b}

.white-text{color: white}

.button-cours {
    float: none;
    padding: 2% 5%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    box-shadow: none;
    background: none;
    font-size: 17px;
}

.box-title {
    margin-top: 4%;
    font-size: 14px;
    line-height: 20px;
}

.box-text {
    margin-top: 3%;
    margin-bottom: 5%;
    opacity: 0.7;
    font-size: 16px;
    line-height: 20px;
}

.box-title i {margin-right: 3%}
.box-title a {margin-left: 8%}

footer {
    width: 100%;
    height: 120px;
    background-color: #f0f1f5;   
    justify-content: space-between;
    align-items: baseline;
}

#foot-text {
    display: block;
    padding-top: 1%;
    width: 100%;
    text-align: center;
}

#foot-icon {
    padding-top: 10%;
    display: block;
    text-align: center;
}

footer div i {
    margin: 0 5%;
    color: dimgrey;
}

#foot {
    justify-content: center;
    margin: 5% 0 0 0;
    padding-top: 1%;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 700;
}

.foot-icon--social {
    padding: 5px;
    margin: 0% 10px 2%;
    color: #404B55;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}