@media only screen and (min-width: 580px) {
    .border {margin: 0 5%}

    .ham-menu i {
        color: black;
        font-size: 25px;
    }

    #button-down {margin: 3% 25% 9%}

    .landing-page--in h1 {font-size: 52px}

    .cours {
        width: 45%;
        margin-bottom: 2.5%;
    }

    .box-text {margin-top: 7%}
    .box-title {font-size: 16px}

    #foot-text {
        display: flex;
        padding-top: 2%;
    }
    
    #foot-icon {
        padding-top: 0%;
        display: flex;
    }

    #stop {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 5%;
    }

    .foot-icon--social {float: left}
}