@media only screen and (min-width: 741px) {
    .border {margin: 0 8%}

    .ham-menu i {
        color: black;
        font-size: 25px;
    }

    #button-down {margin: 3% 25% 9%}

    .landing-page--in h1 {font-size: 52px}

    #courses {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .cours {
        position: relative;
        float: left;
        width: 40%;
        padding: 0;
        border-radius: 5px;
        margin-bottom: 3%;
        text-align: center;
    }
    .cours:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    .box-text {margin-top: 5%}
    .box-title {
        width: 100%;
        float: left;
        display: block;
        font-size: 16px;
    }

    #foot-text {
        display: flex;
        padding-top: 1%;
    }
    
    #foot-icon {
        display: flex;
        padding-top: 0%;
    }

    #stop {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 8%;
    }

    .foot-icon--social {float: left}
}